<nav class="navbar navbar-expand navbar-light bg-light">
  <a
    class="navbar-brand"
    routerLink="/"
    >
    <img
      src="assets/images/logo.png"
      alt="Travlr Getaways"
      >
      </a>

      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
          exact: true
          }"
          >
          Trips
        </a>

        <a
          *ngIf="isLoggedIn()"
          class="nav-link"
          routerLink="/my-bookings"
          routerLinkActive="active"
          >
          My Bookings
        </a>

        <a
          *ngIf="isAdmin()"
          class="nav-link"
          routerLink="/booking-summary"
          routerLinkActive="active"
          >
          Booking Summary
        </a>
      </div>

      <div class="navbar-end">
        <a
          *ngIf="!isLoggedIn()"
          class="nav-link"
          routerLink="/login"
          >
          Log In
        </a>

        <button
          *ngIf="isLoggedIn()"
          type="button"
          class="btn btn-link nav-link"
          (click)="onLogout()"
          >
          Log Out
        </button>
      </div>
    </nav>
